<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <!-- <div class="row">
        <div class="col mb-5"></div>
      </div> -->
      <div
        class="card card-spacement h-20"
        *ngFor="let produto of produtos"
        style="margin: 20px"
      >
        <!--produtos foi criado dentro de produtos.component.ts-->

        <!-- Product image-->

        <img class="card-img-top mt-5" [src]="produto.imagem" />
        <!-- Product details-->
        <div class="card-body p-4">
          <div class="text-center text-dark">
            <!-- Product name-->
            <h2 class="fw-bolder text-dark">{{ produto.descricao }}</h2>
            <!-- Product price-->
            {{ produto.preco | currency: "BRL" }}
          </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center">
            <a routerLink="/produtos/{{ produto.id }}">
              <!-- esse meu router link me manda para produtos/id -->
              <button type="button" class="btn btn-success">Comprar</button>
            </a>
            <div>
              <small class="text-dark">{{ produto.descricaoPreco }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--text-muted-->
